<style>
  .btn-search {
    color: #d3d3d3;
    position: relative;
    right: 35.5rem;
    font-size: 14px !important;
  }
  .btn-search i {
    display: inline;
  }
  .btn-search {
    outline: none !important;
    box-shadow: none !important;
    border: none; /* Prevent border change */
    background-color: inherit; /* Maintain default background */
}
.btn-search:active {
    outline: none;
    box-shadow: none;
    transform: none; /* Prevent click effect */
}
.btn-search:focus {
    outline: none;
    box-shadow: none;
}
input[type="search"] {
    outline: none !important;
    box-shadow: none !important;
    background-color: inherit; /* Maintain default background */
}
input[type="search"]:focus {
    outline: none;
    box-shadow: none;
}
input[type="search"]:active {
    outline: none;
    box-shadow: none;
    transform: none; /* Prevent click effect */
}
input[type="checkbox"]:focus {
  outline: none;
    box-shadow: none;
}
  .btn-input {
    position: relative;
    margin-left: 1.7rem;
    height: 2.5rem;
    width: 36rem;
    border-radius: 3rem;
    padding: 0.5rem 1rem 0.5rem 3.1rem;
    font-size: 13.5px !important;
    font-weight: 500;
  }

  .tax-info {
      display: none;
  }
  .tax-toggle label {
      text-decoration: underline;
  }
  .tax-toggle label:hover {
    color: black;
      text-decoration: none;
  }
    .form-check-input:checked {
    background-color: #fe424d;
    border: #fe424d; /* Change color when checked */
}
.form-check-input:focus {
    border: #fe424d !important; /* Change color when checked */
}



</style>


<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings">
        <div class="wanderlust" style="display: flex;">
          <i class="fa-regular fa-compass"></i>
          <p>Wanderlust</p>
        </div>
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control btn-input" type="search" placeholder="Search destinations">
            <div class="btn btn-search pt-2" type="submit"><i class="fa-solid fa-magnifying-glass"></i></div>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <div class="createListing"><a class="nav-link" href="/listings/new">Airbnb your home</a></div>
          <div class="tax-toggle pt-2 ms-3">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault"><p style="font-size:15px; font-weight: 500; margin: 0;">After taxes</p></label>
            </div>
        </div>
          <% if(!currUser) { %> 
            <a class="nav-link ms-3" href="/signup"><b>SignUp</b></a>
            <a class="nav-link" href="/login"><b>Login</b></a>
          <% } %> <% if(currUser) { %>
            <a class="btn btn-outline-secondary rounded-pill ms-3" href="/logout" style="font-size: 14px; padding: 0.6rem 1.5rem 0.5rem;"><b>Logout</b></a>
          <% } %>
        </div>
      </div>
    </div>
</nav>