<nav class="navbar navbar-expand-md bg-body-light sticky-top">
    <div class="container-fluid p-0">
      
      <a class="navbar-brand d-flex align-items-center wanderlust" href="/listings">
        <i class="fa-regular fa-compass me-2" style="font-size: 1.5rem;"></i>
        <p>Wanderlust</p>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
        aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse p-md-0 px-sm-5 py-sm-3 p-3" id="navbarNavAltMarkup">
        <div class="d-flex align-items-center gap-3 nav-elements" style="width: 100%;">

            <form class="d-flex align-items-center nav-form d-none d-md-flex" style="width: 68%;">
              <div class="position-relative w-100">
                <input class="form-control ps-5 btn-input" type="search" placeholder="Search destinations" aria-label="Search">
                <i class="fa-solid fa-magnifying-glass position-absolute top-50 start-0 translate-middle-y ms-3" aria-hidden="true" style="font-size: 13.4px; color: #2222224d;"></i>
              </div>
            </form>

            <div class="d-block d-md-flex justify-content-end align-items-center nav-buttons" style="width: 32%;">
              <button class="navbar-toggler navbar-close-btn" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
                aria-expanded="false" aria-label="Toggle navigation"
              >
                  <i class="fa-solid fa-xmark"></i>
              </button>

              <div class="createListing rounded-pill">
                <a class="nav-link d-flex justify-content-center align-items-center gap-1 h-100" href="/listings/new">
                  <i class="fa-solid fa-house-circle-check" style="color: #fff; font-size: 12px; padding-top: 2px;"></i>
                  <span>home</span>
                </a>
              </div>

              <div class="watchlist-btn rounded-circle">
                <a class="nav-link d-flex justify-content-center align-items-center h-100 w-100" href="listings/savedlistings">
                  <i class="fa-regular fa-bookmark" style="color: #fff; font-size: 12px; padding-top: 2px;"></i>
                </a>
              </div>

              <hr class="nav-hr-tag">

              <% if(!currUser) { %>
              <div class="login-btn rounded-pill">
                  <a class="nav-link d-flex justify-content-center align-items-center h-100 w-100" href="/login">
                    <span class="fw-semibold" style="font-size: 13px;">Login</span>
                  </a>
                </div>
              <% } %>
              <div class="logout-btn rounded-pill">
                <% if(currUser) { %>
                  <a class="nav-link d-flex justify-content-center align-items-center h-100 w-100 logout-tag" href="/logout" >
                    <span class="fw-semibold" style="font-size: 13px;">Logout</span>
                  </a>
                <% } %>
              </div>
                  
            </div>

        </div>
      </div>

    </div>
</nav>