<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2 mt-4" style="color: #212529; font-weight: 700;">
            <h3 style="color: #373032; font-weight: 700;">Create a New Listing: </h3><br>
            <form method="POST" action="/listings" novalidate class="needs-validation create-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="listing[title]" id="title" required>
                    <div class="valid-feedback">Title looks good!</div>
                    <div class="invalid-feedback">Title looks bad!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" name="listing[description]" id="description" required></textarea>
                    <div class="invalid-feedback">Please enter a description!</div>
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">Upload Image</label>
                    <input style="font-size: small; color: #212529b3;" class="form-control fw-medium" type="file" name="listing[image]" id="url" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input class="form-control" type="number" name="listing[price]" id="price" required>
                        <div class="invalid-feedback">Price should be valid!</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input class="form-control" type="text" name="listing[country]" id="country" required>
                        <div class="invalid-feedback">Country name should be valid!</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input class="form-control" type="text" name="listing[location]" id="location" required>
                    <div class="invalid-feedback">Location should be valid!</div>
                </div>
                <button class="btn btn-dark mb-3 add-btn">Add listing</button>
            </form>
            <a href="/listings" class="nav-link">

                <button class="btn btn-outline-dark mb-3 w-100 d-flex justify-content-center align-items-center gap-2" style="font-size: 13.5px; font-weight: 500;">
                    <i class="fa-solid fa-arrow-left mt-1"></i>
                    <span>Go Back</span>

                </button>
            </a>
        </div>
    </div>
</body>