<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2 mt-4">
            <h3>Create a New Listing: </h3><br>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="listing[title]" id="title" required>
                    <div class="valid-feedback">Title looks good!</div>
                    <div class="invalid-feedback">Title looks bad!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" name="listing[description]" id="description" required></textarea>
                    <div class="invalid-feedback">Please enter a description!</div>
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">Upload Image</label>
                    <input class="form-control" type="file" name="listing[image]" id="url" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input class="form-control" type="number" name="listing[price]" id="price" required>
                        <div class="invalid-feedback">Price should be valid!</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input class="form-control" type="text" name="listing[country]" id="country" required>
                        <div class="invalid-feedback">Country name should be valid!</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input class="form-control" type="text" name="listing[location]" id="location" required>
                    <div class="invalid-feedback">Location should be valid!</div>
                </div>
                <button class="btn btn-dark mb-4 add-btn">Add</button>
            </form>
        </div>
    </div>
</body>